In [1]:
import json

In [2]:
with open('train.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

In [10]:
data['data'][0]

{'id': 0,
 'noisy_add': 'đông lân 1 , phường bà điểm , hồ chí minh',
 'std_add': {'1580': {'street': 'đông lân 1',
   'city': 'hồ chí minh',
   'id': 1580,
   'district': 'hóc môn',
   'ward': 'None'}}}

In [15]:
def gen_data(data_file, num_sample):
    with open(data_file, 'r', encoding='utf-8') as f:
        data = json.load(f)

    x = dict()
    x['data'] = []
    for i in range(num_sample):
        x['data'].append(data['data'][i])
    return x

In [16]:
train_data = gen_data('train.json', 1000)
with open('Siameser/Data/train.json', 'w', encoding='utf-8') as f:
    json.dump(train_data, f, ensure_ascii=False, indent=4)

In [17]:
test_data = gen_data('test.json', 500)
with open('Siameser/Data/test.json', 'w', encoding='utf-8') as f:
    json.dump(test_data, f, ensure_ascii=False, indent=4)

In [18]:
with open('Siameser/Data/RAT_DATA_MAIN.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [ ]:
RAT_DATA

In [21]:
std_addresses = []
for sample in RAT_DATA['data']:
    std_addresses.append(sample['norm_add'])

In [25]:
# from collections import Counter
# for i in Counter(std_addresses):
#     print(i)
#     break

In [26]:
x = dict(Counter(std_addresses))
hard_add = []
for i in x:
    if x[i] > 1:
        hard_add.append(i)

In [28]:
len(hard_add)

515

In [31]:
hard_id = []
for sample in RAT_DATA['data']:
    if sample['norm_add'] in hard_add:
        hard_id.append(sample['id'])

In [34]:
# hard_id

In [42]:
with open('train.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
hard_sample = []
for sample in data['data']:
    id = (list(sample['std_add'].keys())[0])
    if sample['std_add'][id]['id'] in hard_id:
        hard_sample.append(sample)

In [1]:
hard_sample

NameError: name 'hard_sample' is not defined

In [45]:
with open('Siameser/Data/hard_train.json', 'w', encoding='utf-8') as f:
    json.dump(test_data, f, ensure_ascii=False, indent=4)

In [1]:
import json

In [2]:
with open ('Data/train.json', 'r', encoding='utf-8') as f:
    train_data = json.load(f)

In [ ]:
train_data

# Add more standard address

In [30]:
import json
with open ('Data/RAT_DATA_MAIN_New.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [4]:
# x = dict()
# for i in RAT_DATA['data']:
#     # print(i)
#     id = i['id']
#     x[id] = dict()
#     x[id]['std_add'] = i['std_add']
#     x[id]['str_add'] = i['norm_add']
#     x[id]['NT_str_add'] = i['NT_norm_add']
#     # break

In [10]:
id = list(x.keys())

In [11]:
print(len(id))
print(id[-1])

34481
36660

In [8]:
# with open('Data/RAT_DATA_MAIN_New.json', 'w', encoding='utf-8') as f:
#     json.dump(x, f, ensure_ascii=False, indent=4)

In [35]:
data = []
for i in RAT_DATA:
    # print(RAT_DATA[i]['std_add'])
    std_add = RAT_DATA[i]['std_add']
    std_add['id'] = i
    if 'ward' not in std_add:
        std_add['ward'] = 'None'
    elif 'street' not in std_add:
        std_add['street'] = 'None'
    elif 'ward' not in std_add and 'street' not in std_add:
        std_add['ward'] = 'None'
        std_add['street'] = 'None'
    data.append(std_add)
    # break

In [36]:
len(data)

34481

In [68]:
# data
import pandas as pd 
df = pd.DataFrame.from_dict(data, orient='columns')

In [69]:
new_df = df.drop(columns=['street', 'ward', 'id'])

In [70]:
new_df

         district         city
0      bình chánh  hồ chí minh
1      bình chánh  hồ chí minh
2      bình chánh  hồ chí minh
3      bình chánh  hồ chí minh
4      bình chánh  hồ chí minh
...           ...          ...
34476    yên bình      yên bái
34477    yên bình      yên bái
34478    yên bình      yên bái
34479    yên bình      yên bái
34480    yên bình      yên bái

[34481 rows x 2 columns]

In [71]:
new_df = new_df.drop_duplicates()

In [72]:
new_df

         district         city
0      bình chánh  hồ chí minh
298      bình tân  hồ chí minh
697    bình thạnh  hồ chí minh
861       cần giờ  hồ chí minh
923        củ chi  hồ chí minh
...           ...          ...
34264    trấn yên      yên bái
34280    văn chấn      yên bái
34312     văn yên      yên bái
34359     yên bái      yên bái
34456    yên bình      yên bái

[705 rows x 2 columns]

In [53]:
exist_addresses = set()
for i in RAT_DATA:
    # print(RAT_DATA[i]['std_add'])
    # break
    x = RAT_DATA[i]['std_add']
    if x['street'] == 'None' and x['ward'] == 'None':
        exist_addresses.add(x['district']+x['city'])

In [55]:
# len(exist_addresses)
exist_addresses = list(exist_addresses)

In [65]:
exist_addresses[:20]

['tiên dubắc ninh',
 'tam dươngvĩnh phúc',
 'bàu bàngbình dương',
 'tân uyênbình dương',
 'hải châuđà nẵng',
 'hà đônghà nội',
 'đan phượnghà nội',
 'bến cátbình dương',
 'tây hồhà nội',
 'quận 2hồ chí minh',
 'phú nhuậnhồ chí minh',
 'sông côngthái nguyên',
 'quận 7hồ chí minh',
 'rạch giákiên giang',
 'quy nhơnbình định',
 'hàm thuận nambình thuận',
 'gò vấphồ chí minh',
 'thủ đứchồ chí minh',
 'thủ thừalong an',
 'quận 9hồ chí minh']

In [74]:
str_addresses = []
for index, row in new_df.iterrows():
    # print(row['district'])
    # print(row['city'])
    str_addresses.append(row['district']+row['city'])
    # break
new_df['str_address'] = str_addresses

<ipython-input-74-bbc2befc6f01>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['str_address'] = str_addresses

In [75]:
new_df.head(20)

        district         city            str_address
0     bình chánh  hồ chí minh  bình chánhhồ chí minh
298     bình tân  hồ chí minh    bình tânhồ chí minh
697   bình thạnh  hồ chí minh  bình thạnhhồ chí minh
861      cần giờ  hồ chí minh     cần giờhồ chí minh
923       củ chi  hồ chí minh      củ chihồ chí minh
1133      gò vấp  hồ chí minh      gò vấphồ chí minh
1349     hóc môn  hồ chí minh     hóc mônhồ chí minh
1745      nhà bè  hồ chí minh      nhà bèhồ chí minh
1797   phú nhuận  hồ chí minh   phú nhuậnhồ chí minh
1909      quận 1  hồ chí minh      quận 1hồ chí minh
2087     quận 10  hồ chí minh     quận 10hồ chí minh
2221     quận 11  hồ chí minh     quận 11hồ chí minh
2333     quận 12  hồ chí minh     quận 12hồ chí minh
2767      quận 2  hồ chí minh      quận 2hồ chí minh
3057      quận 3  hồ chí minh      quận 3hồ chí minh
3157      quận 4  hồ chí minh      quận 4hồ chí minh
3261      quận 5  hồ chí minh      quận 5hồ chí minh
3382      quận 6  hồ chí minh      quận 6hồ chí minh
3544      quận 7  hồ chí minh      quận 7hồ chí minh
3774      quận 8  hồ chí minh      quận 8hồ chí minh

In [76]:
criterion = lambda row: row['str_address'] not in exist_addresses

new_df = new_df[new_df.apply(criterion, axis=1)]

In [82]:
new_df

        district         city         str_address
861      cần giờ  hồ chí minh  cần giờhồ chí minh
6969      mỹ đức       hà nội        mỹ đứchà nội
7440   thanh oai       hà nội     thanh oaihà nội
7649     ứng hòa       hà nội       ứng hòahà nội
10026   hòa vang      đà nẵng     hòa vangđà nẵng
...          ...          ...                 ...
34253   trạm tấu      yên bái     trạm tấuyên bái
34264   trấn yên      yên bái     trấn yênyên bái
34280   văn chấn      yên bái     văn chấnyên bái
34312    văn yên      yên bái      văn yênyên bái
34456   yên bình      yên bái     yên bìnhyên bái

[538 rows x 3 columns]

In [78]:
import json
with open ('Data/RAT_DATA_MAIN_New.json', 'r', encoding='utf-8') as f:
    RAT_DATA = json.load(f)

In [80]:
current_id = int(list(RAT_DATA.keys())[-1])+1
print(current_id)

36661

In [83]:
from Preprocess import remove_tone_of_text
remove_tone_of_text('Cao Hải Nảm')

'Cao Hai Nam'

In [84]:
str_addresses = []
for index, row in new_df.iterrows():
    RAT_DATA[current_id] = dict()
    district, city = row['district'], row['city']
    # print(district)
    # print(city)
    RAT_DATA[current_id]['std_add'] = dict()
    RAT_DATA[current_id]['std_add']['district'] = district
    RAT_DATA[current_id]['std_add']['city'] = city
    RAT_DATA[current_id]['str_add'] = ' '.join([district, city])
    RAT_DATA[current_id]['NT_str_add'] = ' '.join([remove_tone_of_text(district), remove_tone_of_text(city)])
    current_id += 1
    # break

In [85]:
len(RAT_DATA)

35019

In [86]:
with open('Data/RAT_DATA_MAIN_New_Update.json', 'w', encoding='utf-8') as f:
    json.dump(RAT_DATA, f, ensure_ascii=False, indent=4)